@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.menu {
  width: 100%;
  height: 5vh;
  background-color: gray;
}

.back {
  width: 30px;
}

.close {
  width: 30px;
}

.aboutFile, .About, .Designfile, .ServicesFile, .HimeFile, .serviceMain, .follow, .blog {
  width: 100%;
  height: 95vh;
  background-color: #202020;
}

.weclome {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
}

.centerP {
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #1b0dff;
  -webkit-animation: text 10s steps(20) alternate infinite;
          animation: text 10s steps(20) alternate infinite;
  margin-left: 400px;
  font-size: 25px;
  color: blanchedalmond;
}

@-webkit-keyframes text {
  0% {
    width: 0ch;
  }
  50% {
    width: 24ch;
  }
}

@keyframes text {
  0% {
    width: 0ch;
  }
  50% {
    width: 24ch;
  }
}

.welcomeH1 {
  font-size: 70px;
  letter-spacing: 12px;
  color: yellow;
  font-family: 'Tourney', cursive;
}

.btn1 {
  color: white !important;
  text-decoration: none;
  background-color: #202020;
  padding: 6px 50px;
  -webkit-box-shadow: 2px 3px 5px white;
          box-shadow: 2px 3px 5px white;
  border: none;
  outline: none;
}

.desktop {
  width: 100%;
  height: 100vh;
  background-color: #202020;
}

.folder {
  width: 40px;
  text-align: center;
  margin-top: 20px;
  margin-left: 50px;
}

.pc {
  width: 40px;
  text-align: center;
  margin-top: 0px;
  margin-left: 50px;
}

.folderP {
  color: white;
  margin-left: 52px;
}

.pcP {
  margin-left: 48px;
  color: white;
}

.yourPc {
  width: 100%;
  height: 95vh;
  background: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home {
  margin-bottom: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.Home:hover {
  background: gray;
}

.homeP {
  text-decoration: none;
}

.About {
  height: 100%;
}

.aboutImg img {
  margin-top: 150px;
}

.aboutH1 {
  margin-top: 100px;
}

.aboutH5 {
  margin-top: 30px;
  color: gray;
}

.uderList li {
  color: gray;
}

.project {
  width: 100%;
  height: 100vh;
}

.projectA {
  color: gray;
}

.projectRow {
  margin-top: 50px;
}

.aboutFolder1 {
  width: 50px;
  margin-top: 100px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.aboutFolder1:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.FolderP {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.technology {
  height: 100%;
  width: 100%;
  background-color: #202020;
}

.html {
  background-color: #DD4B25 !important;
}

.oop {
  background-color: #E43A00 !important;
}

.offer h1 {
  color: gray;
}

.techP {
  color: white;
  margin-bottom: 0;
}

.React {
  background-color: #03E1F7  !important;
}

.PHP {
  background-color: #7377AD !important;
}

.css {
  background-color: #156DB3 !important;
}

.sass {
  background-color: #C76494 !important;
}

.mySqli {
  background-color: #005E87 !important;
}

.Bootstrap {
  background-color: #6733AF  !important;
}

.WordPress {
  background-color: #4DA3C9 !important;
}

.codingH1 {
  color: #a8eb12;
  margin-bottom: 20px;
  font-size: 20px;
}

hr.new1 {
  border-top: 2px solid gray;
}

.Lightroom {
  background-color: #118aec !important;
}

.Adobe {
  background-color: #450135 !important;
}

.Figma {
  background-color: #0BC780 !important;
}

.Photoshop {
  background-color: #001D34 !important;
}

.ms {
  background-color: #E43A00 !important;
}

.codingH2 {
  margin-left: 100px;
  font-size: 25px;
  color: greenyellow;
}

.codingUl {
  margin-left: 100px;
}

.projectFile {
  width: 100%;
  height: 95vh;
  background-color: #202020;
}

.nl {
  text-decoration: none;
}

.service1 {
  color: gray;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 20px;
}

.serviceP, .ulLi {
  color: white;
  text-align: justify;
}

.webPage img {
  margin-top: 100px;
}

.webPage1 img {
  margin-top: 50px;
}

.call, .email {
  width: 100%;
  height: 100vh;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call img {
  width: 100px;
}

.callH1 {
  color: white;
}

.disableFolder {
  opacity: 0.4;
}

@media (max-width: 1440px) {
 
  .call, .email {
    height: 95vh;
  }
}

@media (max-width: 1024px) {
  .back, .close {
    width: 22px;
  }
  .About {
    height: 100%;
  }
  .aboutImg img {
    margin-top: 220px;
    width: 418px;
  }
}

@media (max-width: 768px) {
  .aboutImg img {
    margin-top: 220px;
    width: 418px;
  }
  .project {
    height: 100%;
  }
  .centerP {
    margin-left: 198px;
  }
  .aboutImg img {
    margin-top: 13px;
    width: 507px;
    margin-left: 87px;
  }
  .aboutH5 {
    text-align: center;
  }
  .serviceMain {
    height: 100%;
  }
}

@media (max-width: 425px) {
  .welcomeH1 {
    font-size: 52px;
    letter-spacing: 0;
  }
  .centerP {
    margin-left: 48px;
    font-size: 21px;
  }
  .yourPc {
    height: 100%;
  }
  .close {
    margin-top: -50px;
    margin-left: 67px;
  }
  .HomePara {
    margin-top: 31px;
  }
  .aboutFolder1 {
    margin-top: 40px;
  }
  .aboutH5 {
    font-size: 19px;
  }
  .aboutImg img {
    margin-top: 13px;
    width: 400px;
    margin-left: 0;
  }
  .Designfile {
    height: 100%;
  }
  .codingH1 {
    font-size: 26px;
    margin-top: 30px;
  }
  .codingH2 {
    margin-left: 0;
    margin-top: 30px;
  }
  .codingUl {
    margin-left: 0;
  }
  .projectFile {
    height: 100%;
  }
}

@media (max-width: 375px) {
  .welcomeH1 {
    font-size: 47px;
  }
  .centerP {
    margin-left: 41px;
    font-size: 17px;
  }
  .aboutImg img {
    width: 357px;
  }
}

@media (max-width: 320px) {
  .welcomeH1 {
    font-size: 39px;
  }
  .aboutImg img {
    width: 300px;
  }
  .callH1 {
    font-size: 22px;
  }
}
/*# sourceMappingURL=Style.css.map */